/***************************************************
Style Name	: base.css
Function	: Taoya网站页面默认基本风格
Version		: 1.0
Author		: Tony
Last Update	: 2012/4/11
***************************************************/


/**************************************************/
/* 基本风格设定（全局） */
/**************************************************/

body 
{
	overflow-y: auto;
	overflow-x: auto;
	margin: 0px auto;
	padding: 0px auto;
	font-size: 14px;
	font-family:  Tahoma, Arial;
	background-color: #555555;
	color: #999999;
	line-height: 180%;
}

div 
{
	font-family: Tahoma, Arial;
	color: #cccccc;
	font-size: 14px;
	line-height: 180%;
}

img
{
	vertical-align: middle;
	border: 0px none;
	max-width: 100%;
	height: auto;
}

/**************************************************/

a:link,a:visited 
{
	text-decoration: none;
	color: #1CB9E0;
}

a:hover 
{
	text-decoration: underline;
	color: #ffffff;
}

a.channel:active 
{
	test:expression(target="_blank");	/* 新窗口打开 */
} 

/**************************************************/
/* 页面设定 */
/**************************************************/

#PageAll
{
	position: relative; 
	z-index: 0;
	margin: 0px auto; 
	padding:0px;
}
#PageMiddle
{
	position: relative;
	z-index: 0;
	width: 800px;
	margin: 0px auto; 
	background: url("") repeat-y center;
}

#PageMain
{
	display: table; 
	position: relative; 
	z-index: 0; 
	width: 800px; 
	margin-top: 50px; 
	background-color:#000000;
	/* show radius border */
	border:solid #5c5c5c 1px;
	border-radius-topleft:0px;
	border-radius-topright:40px;
	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright:50px;
	border-top-right-radius:50px; /* CSS3 */
}

#TopBar /* 顶部页角 */
{
	position: relative;
	z-index: 0;
	width: 800px;
	height: 50px;
}

#TopTitle
{
	margin: 20px 0px 0px 0px;
	text-align: right;
	font-size: 22px;

	/*display: none;*/
	position: absolute; 
	z-index: 0; 
	float:left; 
	width: 230px; 
	height: 100px;
	/*background:#000000 url("") repeat-x 0 0;*/
}

#InfoBand	/* 信息带(内容) */
{
	position: absolute; 
	z-index: 2;
	width: 800px; 
	height: 80px; 
	margin-top: 370px;
	/* background-color: #0099ff; filter: alpha(opacity=80); opacity: 0.8; */
	/* background:url("image/bar_title.gif") repeat-x 0 0; */
}

#InfoBandBG	/* 信息带(背景) */
{
	position: absolute; 
	z-index: 1; 
	width: 800px;
	height: 80px;	
	margin-top: 370px;
	clear: both;
	/* background-color: #0099ff; filter: alpha(opacity=80); opacity: 0.8; */
	/* background:url("image/bar_title.gif") repeat-x 0 0; */
	/*
	border-top:1px solid #18A0D3;
	border-left:0px solid #18A0D3;
	border-right:0px solid #1C3F66;
	border-bottom:1px solid #1C3F66;
	*/
}

#Main
{
	position: relative; 
	z-index: 0;	/* 如果要将topicimg在linkbar上显示清晰,改为1 */
	float: left;
	width: 500px; 
	/* height: 470px; */
	margin-top: -30px; 
	margin-left: 30px;
}

#Sidebar
{
	position: relative; 
	z-index: 0; 
	float: left;
	width: 270px; 
	margin-top: -30px; 
}

#Bottom
{
	position: relative; 
	z-index: 1; 
	float: left;
	width: 800px; 
	height: 50px; 
	margin-top: 100px; 
	background-color: ;
}

#FooterBar /* 底部页角 */
{
	position: relative;
	z-index: 0;
	width: 800px;
	height: 50px;
	margin: 2px 1px 1px 1px;
	/* background-image: url('image/bar_footer.gif'); */
	background-repeat: no-repeat;
}

#TopicImg	/* 主题图片 */
{
	position: relative; 
	z-index: 0; 
	width: 500px; 
	height: 300px;
	overflow: visible; 
	background-color:#ffffff;
}

/**************************************************/
/* CLASS设定 */
/**************************************************/

/* div垂直居中 */
div.wrap
{
    display:table;
    width:100%;
    height:100%;
    _position:relative;
    overflow:hidden;
}  
div.subwrap
{
    vertical-align:middle;
    display:table-cell;
    _position:absolute;
    _top:50%;
}  
div.content
{  
    _position:relative;
    _top:-50%;
} 


.Title	/* 主标题 */
{
	position: relative; 
	z-index: 0;  
	width: 270px; 
	height: 70px; 
	margin-left: 100px; 
	margin-right: 0px; 
	margin-top: 20px;
	margin-bottom: -30px;
	overflow: visible;
	/* background:url("image/taoya_logo.gif") no-repeat; */
	background-position: center center;
}

.SubTitle	/* 副标题 */
{
	position: relative; 
	z-index: 0;  
	width: 270px; 
	height: 30px; 
	margin: 0px;
	overflow: visible;
	background:url("") repeat-x 0 0;
	text-align: center;
}

.TopSign	/* 主题标记 */
{
	position: absolute;
	z-index: 1;
	float:left; 
	width: 150px;
	height: 150px;	
	/* background-color: #0099ff; filter: alpha(opacity=80); opacity: 0.8; */
	/* background:url("image/TopSign.png") repeat-x 0 0; */
}

.ArticleTitle	/* 文章标题 */
{
	position: relative;
	z-index: 0;
	margin-top: 50px;
	width: 500px;
	height: 30px;
	/* height: 100px; */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 18px;
}

/* 新闻链接风格 */
.ArticleTitle a:link,
.ArticleTitle a:visited
{
	text-decoration: none;
	color: #1CB9E0;
}

.ArticleTitle a:hover
{
	text-decoration: none;
	color: #c0c0c0;
}

.ArticleBody	/* 文章内容 */
{
	position: relative;
	z-index: 0;
	width: 500px;
	/* height: 150px; */
	overflow: visible;
}


.TopicBox	/* 图片主题框架 */
{
	position: relative; 
	z-index: 0;
	height: 100%;	/* 此处是依据box的值而动态变化 */ 
	Padding-left: 30px; 
	Padding-right: 30px; 
	overflow: visible;
	text-overflow: ellipsis;
	/* background:url("image/bar_topic.gif") repeat-y 0 0; */ 
}

.TopicTitle	/* 主题图片的标题 */
{
	position: relative; 
	z-index: 0;
	padding-top: 10px;
	overflow: visible;
	white-space: wrap;
	text-overflow: ellipsis;
	font-size: 16px;
	color: #ffffff;
}

.TopicSummary	/* 主题图片的摘要 */
{
	position: relative; 
	z-index: 0;
	height: 85px;
	overflow: hidden;
	white-space: wrap;
	text-overflow: ellipsis;
	font-size: 12px;
}

.TopicLink	/* 主题图片的链接 */
{
	position: relative; 
	z-index: 0; 
	overflow: hidden;
	white-space: wrap;
	text-overflow: ellipsis;
	font-size: 16px;
}

.PanelNavBar	/* 主链接栏 */
{
	position: relative;
	z-index: 0;  
	width: 270px;
	padding: 15px 5px 5px 30px;
	overflow: visible;
}

.PanelNavBar li
{
	float: left;
	padding: 5px 5px 5px 5px;
	margin: 0 0 0 0;
	font-size: 16px;
	word-wrap: normal
	white-space: nowrap;
	list-style-type: none;
	list-style-position : outside;
	text-overflow: ellipsis;
}

.PanelLink	/* 链接 */
{
	position: relative;
	z-index: 0;
	float: left;
	width: 500px;
	height: 80px;
	padding-left: 30px;	
	font-size: 12px;
	overflow: hidden;
	white-space: wrap;
	text-overflow: ellipsis;
}

.PanelSearch	/* 搜索 */
{
	position: relative;
	z-index: 0;
	float: left;
	width: 240px;
	height: 80px;
	padding-left: 30px;
	overflow: hidden;
	white-space: wrap;
	text-overflow: ellipsis;
}

div.Panel	/* 控制面版 */
{
	word-wrap: normal
	float:left;
	padding: 0px 30px 0px 30px;
}

div.PanelTitle	/* 控制面版标题 */
{
	width: 100%;
	padding: 0px 0px 5px 0px;
	font-size: 16px;
	font-weight: none;
	list-style-type:none;
	list-style-position : outside;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: none;
}

div.PanelInner	/* 控制面版内容 */
{	
	width: 100%;
	height: 60px;
	padding: 0px 0px 5px 0px;
	font-size: 12px;
	overflow: hidden;
	white-space: wrap;
	text-overflow: ellipsis;
}

div.PanelInner li
{	
	width: 100%;
	padding:5px 5px 5px 5px;
	margin:0 0 0 0;
	list-style-position:outside;
	list-style-type:none;
}

.Copyright
{
	position: relative;
	width: 800px;
	height: 50px;
	background-color: ;
	font-size: 11px;
	display: table-cell;
	vertical-align: middle;
	filter: alpha(opacity=80); opacity: 0.8;
}

/**************************************************/
/* shadown style */
/**************************************************/
.box 
{
	position:relative;
	z-index:0;
	overflow-x:hidden;
	overflow-y:hidden;
	width: 350px;
	height: 170px; 
	margin-top: -10px;
	margin-bottom: -10px;
	/* 
	margin-top: -10px;
	margin-bottom: -10px;
	*/
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.boxInner
{
	z-index:2;
	background-color:#555555;	
	width: 100%;
	height:100%;
}

.box .hd 
{
	background-color: #22f646;
	padding:10px;
	position:relative;
	z-index:2;
	min-height: 20px;
}
.box .bd 
{
	padding:10px;
	min-height:20px;
	background-color: #2aa0e2;
}
.box .ft 
{
	padding:10px;
	position:relative;
	z-index:2;
	min-height: 20px;
}

.shadow
{
	display: block;
	position: absolute;
	background: #ffffff;
	width: 100%;
	height: 100%;
	/* background-image: url("image/pattern.gif"); */
	top: 0px;	
	z-index: -1;
	opacity: 0.70;
	filter: alpha(opacity="70");	
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius:10px; /* CSS3 */
	border-bottom-right-radius:10px; /* CSS3 */
}

/**************************************************/
/* Form设定 */
/**************************************************/

form 
{
	display: inline;
}

input 
{
	font-family: Tahoma, Arial; 
	font-size: 14px;
}


/**************************************************/
/* 用css中的type选择器，自动匹配Input中的不同类型的对象 */
/**************************************************/

input[type="text"] 
{
    height: 20px;
	padding: 1px;
	color: #000000; 
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
}

input[type="button"] 
{
	height: 40px;
	font-family: Tahoma, Arial;
	font-size: 18px;
	color: #000000; 
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
}

input[type="submit"] 
{
    height: 24px;
	color: #000000; 
	font-size: 12px;
	font-family: Tahoma, Arial;
	border: 1px solid #FFFFFF;
	background-color: #1CB9E0;
}

input[type="reset"] 
{
	height: 30px;
	color: #000000; 
	border: 1px solid #999999;
	border-top: 1px solid #999999;
	border-left: 4px solid #999999;
	background-color: #FFFFFF;
}

input[type="password"] 
{
	height: 20px;
	padding: 1px;
	color: #000000; 
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
}

input[type="radio"] 
{
	color: #000000; 
	border: 1px solid #999999;
	background-color: #FFFFFF;
}

/*
input[type="checkbox"] 
{
	color: #000000; 
	border: 1px solid #999999;
	background-color: #FFFFFF;
}
*/

textarea 
{ 
	font-size: 14px;
	font-family: Tahoma, Arial; 
	color: #000000;
	border: 1px solid #999999;
	background-color: #F9F9F9;
}

select 
{ 
	font-size: 12px;  
	font-family: Tahoma, Arial; 
	color: #000000; 
	background-color: #FFFFFF;
}